<!DOCTYPE html>
<html>
  <head>
    <title>hello world</title>
    <style type="text/css">
      div {
      margin: 20px auto;
      border: 1px dotted gray;
      width: 80%;
     }
      div h1 {
         font-size:1.5;
         padding:10px 20px;
         margin:0;
         border-bottom:1px dotted gray;
     }
     div div {
         margin:10px;
     }
     .sprite_loading {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAABcCAYAAAAVplfAAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA2RpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYwIDYxLjEzNDc3NywgMjAxMC8wMi8xMi0xNzozMjowMCAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6Y);
}
    </style>
    <script type="text/javascript" src="/javascripts/zepto.js" ></script>
  </head>
  <body>
     <div id="header">
        loading
     </div>
     <div id="content" >
     	  loading
     </div>
     <div id="footer">
     	   loading
     </div>
     <script type="text/javascript" src="/javascripts/ajax_bigpipe.js" ></script>
</body>

</html>